TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
LIMITER_STORE=database
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
MAIL_FROM="SAE UFRRJ <nao-responda@sae.ufrrj.br>"